/* General resets */
@font-face {
  font-family: Montserrat-bold;
  src: url('assets/Font/Montserrat/static/Montserrat-ExtraBold.ttf');
  /* src: url('assets/Font/Act_Of_Rejection.ttf'); */
}
@font-face {
  font-family: rejection;
  src: url('assets/Font/Act_Of_Rejection.ttf');
}
@font-face {
  font-family: inter;
  src: url('assets/Font/Inter/static/Inter_18pt-Light.ttf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: #ea2127;
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 100%;
  /* height: 940px; */
  padding: 20px;
  background-color: #ea2127;
}

.logo {
  /* font-size: 1.8rem; */
  /* color: white; */
  width: 790px;
  height: 134px;
  position: relative;
  display: flex;
  /* justify-content: center;
  justify-items: center; */
  top: 15px;
  left: 60px;
  align-items: center;
  gap: 10px;
}
.logo-img {
  width: 115px;
  height: 110px;
  /* color: white; */
}
.logo-text {
  font-family: Montserrat-bold;
  width: 665px;
  height: 134px;
  font-size: 112px;
  font-weight: 800;
  line-height: 134.4px;
  letter-spacing: 12px;
  color: #fff;
  /* text-align: center; */
}

.navbar {
  /* display: flex; */
  /* align-items: center; */
  position: relative;
  top: 37px;
}
.hamburger {
  display: inline-block;
  cursor: pointer;
  /* top: 50px; */
}
.line-1,
.line-2,
.line-3 {
  width: 40px;
  height: 4px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}
.change .line-1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  transform: translate(0, -11px) rotate(45deg);
}

/* .nav-list {
  display: flex;
  list-style: none;
}

.nav-list li {
  margin-left: 20px;
}

.nav-list a {
  text-decoration: none;
  color: white;
} */

/* Hero section */
.hero-section {
  /* text-align: center; */
  padding: 50px 20px;
  background-color: #ea2127;
}
.hero-section h1 {
  position: relative;
  top: 92px;
  left: 150px;
  font-family: rejection;
  font-weight: 400;
  font-size: 140px;
  line-height: 168px;
  letter-spacing: 1px;
  color: #fff;
  opacity: 40%;
}

.products {
  display: flex;
  width: 99%;
  gap: 24px;
  position: relative;
  left: 187px;
  top: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 357px;
  height: 468px;
  gap: 16px;
  font-family: inter;
  color: #fff;
  font-weight: 500;
}

.product-card img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  filter: drop-shadow(6px 6px 24px #66424233);
  object-fit: cover;
}
.product-title {
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 0.7px;
}
.product-price {
  display: flex;
  gap: 12px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1px;
  opacity: 80%;
}

/* Promo section */
.promo-section {
  padding: 40px 20px;
  text-align: center;
  background-color: #fff;
}

.promo-products {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Mission section */
.mission-section {
  padding: 40px 20px;
  background-color: #e62626;
  color: white;
  text-align: center;
}

.mission-section img {
  max-width: 100%;
  border-radius: 10px;
}

/* Product of the month */
.product-of-the-month {
  padding: 40px 20px;
  background-color: #f8f8f8;
}

.product-featured {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Footer */
footer {
  background-color: #e62626;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
  .product-featured {
    flex-direction: column;
  }

  .products {
    flex-direction: column;
  }
}
